body{
    margin:0px;
}

#bodycontainer{
    border: solid 1px orange;
    max-width: 1000px;
    position: absolute;
    left: 50%;
    margin-left: -500px;
}

#headerimage{
    width: 1000px;
    height: 600px;
    background-image: url('DSC_0050.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid red;
}


nav {
    background-color: red;
    height: 50px;
    z-index: 10;
    border: solid 1px black;
    top: 0px;
    margin-top: 5px;
    font-size: 35px;
    font-family: sans-serif;
    }

#nav-flex{
    background-color: red;
    display: flex;
    padding: 0px;
    list-style: none;
    margin-top: 2px;

}


#About{
    text-align: center;
    margin-top: 0px;
    height: 100px;


}

li{
    display: inline-block;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 72px;
    color: white;
    background-color: black;


}



h2 {
    font-size: 30px;
   text-align: center;
}

#aboutdiv {
background-color: black;
color: white;


}

#About
{
  font-family: bold;
}
